
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Functional Test Suite">

	<listeners>
		<listener class-name="com.qa.utilities.Reporting"></listener>
	</listeners>

	<test name="Amazon Application - Chrome">
		<parameter name="Browser" value="chrome"></parameter>
		<parameter name="Url" value="https://www.amazon.in/"></parameter>
		<classes>
			<class name="com.qa.testscripts.TC_Amazon_003"/>	
		</classes>
	</test>

	<!--	
	<test thread-count="5" name="Rediff Application - Chrome" parallel="classes">
		<parameter name="Browser" value="Chrome"></parameter>
		<parameter name="Url" value="https://www.rediff.com/"/>
		<classes>
			<class name="com.qa.testscripts.TC_RediffAlerts_001" />
		</classes>
	</test>

	<test thread-count="5" name="JavaScript Application - Chrome" parallel="classes">
		<parameter name="Browser" value="Chrome"></parameter>
		<parameter name="Url" value="https://www.amazon.in/"/>
		<classes>
			<class name="com.qa.testscripts.TC_ScreenshotDemo_001" />
		</classes>
	</test>
	 
	<test thread-count="5" name="JQuery Application - Chrome" parallel="classes">
		<parameter name="Browser" value="Chrome"></parameter>
		<parameter name="Url" value="https://jqueryui.com/droppable/"/>
		<classes>
			<class name="com.qa.testscripts.TC_ActionsDemo_001" />
		</classes>
	</test>

	<test thread-count="5" name="Rediff Application - Chrome" parallel="classes">
		<parameter name="Browser" value="Chrome"></parameter>
		<parameter name="Url" value="https://www.rediff.com/"/>
		<classes>
			<class name="com.qa.testscripts.TC_RediffAlerts_001" />
		</classes>
	</test>

	<test thread-count="5" name="Oracle Javadocs Application - Chrome" parallel="classes">
		<parameter name="Browser" value="Chrome"></parameter>
		<parameter name="Url" value="https://docs.oracle.com/javase/8/docs/api/"/>
		<classes>
			<class name="com.qa.testscripts.TC_DemoFrames_001" />
		</classes>
	</test>

 	<test thread-count="5" name="Citibank Application - Chrome" parallel="classes">
		<parameter name="Browser" value="Chrome"></parameter>
		<parameter name="Url" value="https://www.online.citibank.co.in/"/>
		<classes>
			<class name="com.qa.testscripts.TC_Citibank_001" />
		</classes>
	</test>
 
 
	<parameter name="Url" value="https://www.amazon.in/"></parameter>
		<test thread-count="5" name="Amazon Application - Edge"	parallel="classes">
		<parameter name="Browser" value="edge"></parameter>
		<classes>
			<class name="com.qa.testscripts.TC_Amazon_003" />			
		</classes>
	</test>

	<test thread-count="5" name="Amazon Application - Chrome" parallel="classes">
		<parameter name="Browser" value="Chrome"></parameter>
		<classes>
			<class name="com.qa.testscripts.TC_Amazon_003" />
			<class name="com.qa.testscripts.TC_Amazon_004" />
			<class name="com.qa.testscripts.TC_Amazon_005" />
		</classes>
	</test>
	 -->

</suite> <!-- Suite -->	